.logobar{
  display: flex;
  align-items: flex-start;

}

.logo{
  padding:20px;
  background-color: red ;
  align-self: center;
  box-shadow: 1px 4px 10px  black ;
  border-radius: 10px;
  margin-left: 3%;
}

.logo p{

  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  line-height:20px;
  font-weight: 400;
  color:#ecf0f1;
}

.searchbar{
  display: flex;
  padding:10px;
  margin: 2%;
  height:60px;
  
  
}

.searchbar input{
  background-color: slategray;
  border-color: slategray;
  cursor: pointer;
}

.searchbar button{
  background-color: transparent;
  border-color: transparent;

  
}

.searchbar button:active {
  outline: none;
  border: none;
}

.searchbar buttom:hover{
  cursor: pointer;

}

.searchbar button:focus{
  outline: none 0;
}
/*
.ui.teal.button{
margin-inline-start: auto;
color:darkred;
background-color:grey;
}*/

.ui.modal.transition.visible.active{
  width: 550px;
  height: 250px;
}
.ui.modal.transition.visible.active.cadastro_bloco{

  width: 550px;
  height: 350px;
}
.ui.teal.fluid.button.btn_cadastro{

  margin-top: 20px;
}

.ui.button.cadastrar{
  border-color: red;
  color:rgba(11, 11, 146, 0.925);
  background-color: #282A36;
  margin-left: 450px;
  margin-top: 40px;
  font-size: large;
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px ;
  padding: 10px;
  cursor:pointer;
  size: 40px;

}
.nome_cadas,.email_cadas,.senha_cadas,.nome_login,.senha_login{
  
  margin-left: 10px;
  margin-top: 10px;
  
}
.ui.teal.fluid.button.btn_login{
  margin-top: 30px;
  margin-bottom: 0%;
}

.ui.button.logar {
  size: 40px;
  color: red;
  font-size: large;
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px ;
  padding: 10px;
  margin-left: 60px;
  cursor:pointer;
  background-color:#282A36;
  border-color: #282A36;

}





  
      

